<div class="alert alert-primary">
  {{ roomsForm.pristine | json }}
</div>
<div class="alert alert-primary">
  {{ roomsForm.dirty | json }}
</div>
<div class="alert alert-primary">
  {{ roomsForm.valid | json }}
</div>
<div class="alert alert-primary">
  {{ roomsForm.invalid | json }}
</div>
<div class="alert alert-primary">
  {{ roomsForm.value | json }}
</div>

<div *ngIf="successMessage !== ''" class="alert alert-success" role="alert">
  {{ successMessage }}
</div>
<form #roomsForm="ngForm" (ngSubmit)="addUser(roomsForm)">
  <div class="form-group">
    <label for="userId">ID</label>
    <input
      required
      min="1"
      max="12"
      type="number"
      name="id"
      class="form-control"
      id="userId"
      [(ngModel)]="user.id"
    />
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      #roomamanaties="ngModel"
      required
      minlength="5"
      maxlength="20"
      type="string"
      name="name"
      class="form-control"
      id="name"
      [(ngModel)]="user.name"
    />
    <span class="alert alert-danger" *ngIf="roomamanaties.errors?.['minlength']"
      >Amenities should be 5 length min</span
    >
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      required
      type="email"
      name="email"
      class="form-control"
      id="email"
      [(ngModel)]="user.email"
    />
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input
      required
      type="string"
      name="phone"
      class="form-control"
      id="phone"
      [(ngModel)]="user.phone"
    />
  </div>

  <button [disabled]="roomsForm.invalid" type="submit" class="btn btn-primary">
    Submit
  </button>
</form>
