<!-- <h1>App-component</h1> -->
<!-- <app-container>
  <app-rooms></app-rooms>
</app-container> -->
<a [routerLink]="'users'" class="">Users</a>
<a [routerLink]="'photos'">Photos</a>

<router-outlet></router-outlet>
<!-- <app-users></app-users>
<app-users></app-users> -->

<!-- <app-photos></app-photos> -->
<!-- <div>
  <ng-template #user></ng-template>
</div> -->
<!-- <app-rooms></app-rooms> -->

<!-- <div #accessDomElement></div> -->
<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'Admin'">
  </div>
  <div *ngSwitchCase="'User'">Welcome User</div>
  <div *ngSwitchDefault>Wlcome all other roles</div>
</div> -->
